body {
    background-color: darkslateblue;
}

.card {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

img {
    width: 500px;
}

.feature {
    justify-content: center;
    text-align: center;
}

footer {
    justify-content: center;
}

