body {
    background-color: #303F9F;
}


.master {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.card {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px lightblue;
    max-width: 29%;
    margin: 50px 0;
    text-align: center;
    font-size: 16px;
    font-family: 'Crete Round', serif;
    background-color: #3F51B5;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.feature {
    justify-content: center;
    text-align: center;
}

footer {
    justify-content: center;
}

.words {
    text-align: justified;
    color: #FFFFFF;
}

#avail {
    background-color: #757575;
    color: #FFEB3B;
}

#details {
    font-weight: bold;
}

.soldout {
    position: absolute;
    margin: auto;
    padding: auto;
    width: 30%;
}